*, html{
  margin: 0;
  padding: 0;
}

#profile{
  border-radius: 50%;
  width: 20%;
  margin: 3%;
  box-shadow: 0px 0px 10px 5px aliceblue;
}

#name{
  font-family: Sans-serif;
  font-size: 3vw;
  margin: 1%;
  color: aliceblue;
}
#about{
  font-family: Sans-serif;
  font-size: 1.5vw;
  margin: 1%;
  color: aliceblue;
}

.link{
  display: inline-block;
  float: right;
  width: 4%;
  margin: 1%;
}

#linkresume {
  display: inline-block;
  float: right;
  /* width: 4vw; */
  margin: 1%;
}

.topone{
  background: url("Assets/background.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 30%;
}

.talha_container{
  display: table !important;
  /* width: 100% !important; */
}

.chafekar_container{
  display: table-cell !important;
}
.sections{
  margin: 3vw !important;
  /* margin-right: 5vw; */
  border: blue !important;
  box-shadow: 0px 0px 10px 5px #808080 !important;
  /* display: table-cell !important; */
  /* position: relative; */
}

.project_card{
  box-shadow: 0px 0px 1px 1px #808080;
  /* margin:10%; */
  margin-right: 5%;
  /* padding: 10%; */
}
.project_headings{
  font-family: Sans-serif;
  font-size: 120%;
  color: black;
  margin: 25px;
  text-align: center;
  margin-bottom: 5px;
}

#project_card_title{
  margin: 5%;
  text-align: center;
}
#project_card_button{
  margin: 5%;
}
.project_margin{
  margin:2%;
  margin-right: 4%;
}

.programming_languages{
  font-family: Sans-serif;
  font-size: 108%;
  color: black;
  margin: 15px;
  margin-bottom: 5px;
}

.mayankm{
  margin: 5%
}

.blocks{
  font-family: sans-serif;
  /* border: ; */
  margin: 20px;
  font-size: 120%;
}

.m_sections{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headings{
  font-family: Sans-serif;
  background: url("Assets/background.jpg");
  color: aliceblue;
  font-size: 150%;
  padding: 10px;
}

.counts{
  font-family: Sans-serif;
  font-size: 120%;
  color: black;
  margin: 25px;
  margin-bottom: 5px;
}
.info{
  font-family: Sans-serif;
  font-size: 98%;
  color: black;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 1px;
}

footer{
  margin-left:5%;
  margin-right:5%;
}
.contact_ids{
  font-size: 80%;
  color:#696969;
  text-align: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}