*, html{
  margin: 0;
  padding: 0;
}

#profile{
  border-radius: 50%;
  width: 20%;
  margin: 3%;
  box-shadow: 0px 0px 10px 5px aliceblue;
}

#name{
  font-family: Sans-serif;
  font-size: 3vw;
  margin: 1%;
  color: aliceblue;
}
#about{
  font-family: Sans-serif;
  font-size: 1.5vw;
  margin: 1%;
  color: aliceblue;
}

.link{
  float: right;
  width: 4%;
  margin: 1%;
}

#linkresume {
  float: right;
  width: 8%;
  height: 20%;
  margin: 1%;
  background-color:#228B22;
  border-radius: 20%;
  padding: 1%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px){
  #profile{
    width: 45%;
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #name{
    font-size: 8vw;
    margin-top: 4vh;
    text-align: center;
  }

  #about{
    text-align: center;
    font-size: 4vw;
  }

  .link{
    width: 10vw;
  }

  #linkresume{
    width: 30%;
    font-size: 3vh;
  }
}

.linked_certis{
  text-decoration: none !important;
  color: black !important;
}

.topone{
  background: url("Assets/background.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 30%;
}

.sections{
  margin: 5% !important;
  margin-top: 1% !important;
  box-shadow: 0px 0px 10px 5px #808080 !important;
  padding: 0% !important;
}

@media only screen and (max-width: 800px){
  .sections{
    /* background-color: red; */
    width: 100vw;
    /* margin: 5% !important; */
  }

  .row{
    display: table-cell;
  }
}

.container{
  padding: 0%;
}

.project_card{
  box-shadow: 0px 0px 1px 1px #808080;
  /* margin:10%; */
  margin-right: 5%;
  /* padding: 10%; */
}
.project_headings{
  font-family: Sans-serif;
  font-size: 120%;
  color: black;
  margin: 25px;
  text-align: center;
  margin-bottom: 5px;
}

#project_card_title{
  margin: 5%;
  text-align: center;
}
#project_card_button{
  margin: 5%;
}
.project_margin{
  margin:2%;
  margin-right: 4%;
}

.programming_languages{
  font-family: Sans-serif;
  font-size: 108%;
  color: black;
  margin: 15px;
  margin-bottom: 5px;
}

.mayankm{
  margin: 5%
}

.blocks{
  font-family: sans-serif;
  /* border: ; */
  margin: 20px;
  font-size: 120%;
}

.m_sections{
  margin-left: 4%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vw;
}
@media only screen and (max-width: 600px){
  .m_sections{
    font-size: 6vw;
  }
}


.headings{
  font-family: Sans-serif;
  background: url("Assets/background.jpg");
  color: aliceblue;
  font-size: 150%;
  padding: 10px;
}

.counts{
  font-family: Sans-serif;
  font-size: 120%;
  color: black;
  margin: 25px;
  margin-bottom: 5px;
}
.info{
  font-family: Sans-serif;
  font-size: 98%;
  color: black;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 1px;
}

footer{
  margin-left:5%;
  margin-right:5%;
}
.contact_ids{
  font-size: 80%;
  color:#696969;
  text-align: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
